{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавить ребенка{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mt-4">Добавление ребенка</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.full_name|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ form.hall|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ form.training_option|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ form.parent1 | as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ form.parent1_phone_number | as_crispy_field }}
            </div>
            <div id="parent2-fields">
                <div class="mb-3">
                    {{ form.parent2 | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.parent2_phone_number | as_crispy_field }}
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="add-parent2-btn" onclick="showParent2Fields()">Добавить второго родителя</button>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
<style>
    #parent2-fields {
        display: none;
    }
</style>
<script>
    function showParent2Fields() {
        document.getElementById('parent2-fields').style.display = 'block';
        document.getElementById('add-parent2-btn').style.display = 'none';
    }
</script>
{% endblock %}